.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
    width: 100%;
}

 .navigation {
    padding: 2%;
    height: 100%;
    width: 100%;
    display: flex;
    height:max-content;
    justify-content: center;
    background-color: orange;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    border: 0.5px solid white;
    cursor: pointer;
    box-sizing: border-box;
}

.navigation:hover {
    background-color: rgba(242,121,53,1);
    color: white;
}


@media (max-width: 900px) {
    .navigation-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.1rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff; /* You can set a background color to the navigation container if needed */
        z-index: 999; /* Use a high z-index to ensure the navigation appears on top of other elements */
      }

   .navigation {
    font-size: 0.8rem;
    padding: 5%;
   }
    }