.forms-container {
    margin: 1% 0 1% 0;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    align-items: center;
    font-size: .9rem;
}

.forms-container header {
    align-self: center;
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}

.forms-container form {
    display: flex;
    min-width: 30%;
    max-width: 40%;
    height: max-content;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 2%;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.forms-container div {
    display: grid;
}

.forms-container input {
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
    font-size: 1rem;
    height: 40px;
    line-height: 24px;
    padding: 7px 8px;
    color: rgb(8, 9, 10);
    box-shadow: none;
    width: 80%;
    align-self: center;
    justify-self: center
}

.login-container input:focus{
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
}

.forms-container button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    width: 50%;
    align-self: center;
}

.forms-container button:hover{
    transform: translateY(-2px);
    background: #3b49df;
}

.forms-container button:disabled{
    transform: translateY(-2px);
    background: grey;
    cursor:not-allowed;
}

.forms-container form p {
    display: inline-block;
    align-self: center;
    cursor: pointer;
}

.forms-container form p:hover{
    text-decoration: underline;
}

@media (max-width: 850px) {
    .forms-container {
        padding: 2%;
        box-sizing: border-box;
    }
    
        .forms-container form {
            min-width: 100%;
            padding: 5%;
            box-sizing: border-box;
        }
    }