.utility-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    gap: 10px;
    background-color: lightgray;
    min-height: 150px;
}
.utility-panel h3{
    text-align: center;
    width: 100%;
}

.utility-panel select {
    width: 100%;
    border-radius: 10px;
    padding: 5%;
    border: 2px solid orange;
}

.utility-panel div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.utility-panel div span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.utility-panel button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    min-width: 100px;
    text-align: center;
}

.utility-panel button p {
    text-align: center;
}

.job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5%;
    box-sizing: border-box;
    padding-top: 2%;
}

.job-card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
    background-color: lightblue;
}
.job-card p {
    font-size: 0.85rem;
}
.job-card span {
    text-align: center;
}

.job-card h3:only-child {
    text-align: center;
}

.job-card button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    width: 50%;
    align-self: center;
}

.job-card button:hover{
    transform: translateY(-2px);
    background: #3b49df;
}

.job-card button:disabled{
    transform: translateY(-2px);
    background: grey;
    cursor:not-allowed;
}

.job-card header {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    width: 100%;
    border-radius: 15px;
    padding: 2%;
    box-sizing: border-box;
}

.misc-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.address-field {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    padding: 2%;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    background-color: white;
    text-align: center;
    font-size: 0.8rem;
}

.user-field {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    padding: 3%;
    box-sizing: border-box;
}

.loader {
    display: flex;
    justify-content: center;

}

@media (max-width: 900px) {
    .utility-panel {
        padding: 5%;
        box-sizing: border-box;
        gap: 20px;
    }
    .utility-panel button{
        width: 100%;
    }

    .utility-panel h3{
        text-align: center;
        width: 100%;
    }

    .utility-panel div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .utility-panel div span {
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    .job-container {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 2%;
        margin-bottom: 10%;
    }
    .job-card {
        width: 100%;
        padding: 5%;
    }

    .job-card button {
        min-width: 100px;
        min-height: 30px;
        align-self: center;
    }
  }

