.hero-block {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
    color: white;
    gap: 1.1rem;
    text-align: left;
}

.hero-block div {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5%;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 25px;
}

.user {
    flex-direction: row-reverse;
    background-position-y: 25%;
    text-align: right;
}

.hero-block a {
    width: unset;
}

.hero-block button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    width: 200px;
    align-self: center;
}

.hero-block button:hover {
    background-color: lightcoral;
}

@media (max-width: 950px) {
.hero-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

    .hero-block div {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        font-size: 0.95rem;
        width: 100%;
    }

    .user button {
        background-color: orange;
    }

    .hero-block button {
        width: 150px;
    }

 }
