.hero-block {
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hero-block img {
    object-fit: cover;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
}

