.desktop-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.desktop-nav p {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
}

.desktop-nav p:hover {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .desktop-nav {
      display: none;
    }
  }